// В этом файле должны быть стили для БЭМ-блока carousel-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.carousel-btn {

  $block-name:                &; // #{$block-name}__element {}

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid $gray-lighter;
  background: $body-bg;
  cursor: pointer;

  &--lg {
    width: 52px;
    height: 52px;
  }

}
