// В этом файле должны быть стили для БЭМ-блока explore-items, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.explore-items {

  $block-name:                &; // #{$block-name}__element {}

  width: 100%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }

  &__header-btns {
    display: flex;
    column-gap: 20px;
    margin-left: 50px;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__carousel-btn {

    &--left {
      position: absolute;
      z-index: 100;
      top: 100px;
      left: -30px;
    }

    &--right {
      position: absolute;
      z-index: 100;
      top: 100px;
      right: -30px;
    }
  }

  &__title {
    margin: 0;
    flex-grow: 1;
    font-size: $font-size--h3 + 2;
    line-height: 133%;
    font-weight: 500;

    @media (min-width: $screen-lg) {
      font-size: $font-size--h1;
    }
  }

  &__carousel-wrap {
    position: relative;
  }

  &__carousel-btns {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }



  // &--first {
  //   padding-top: 48px;

  //   @media (min-width: $screen-xl) {
  //     padding-top: 100px;
  //   }
  // }
}
