// В этом файле должны быть стили только для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {

  $block-name: &;

  font-size: $font-size--small;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 1.6em;

      &:after {
        content: '>';
        position: absolute;
        top: 0;
        right: -1.2em;
        color: $gray;
      }
    }
  }

  &--akinita {
    font-size: $font-size--h3;
    line-height: 1.5;

    #{$block-name}__item {

      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: -1.1em;
        width: 6px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0a.857.857 0 0 0-.606.251L.251 5.394a.857.857 0 0 0 0 1.212l5.143 5.143a.857.857 0 0 0 1.212 0 .857.857 0 0 0 0-1.212L2.07 6l4.537-4.537a.857.857 0 0 0 0-1.212A.857.857 0 0 0 6 0Z' fill='%235547FB'/%3E%3C/svg%3E");
        background-size: cover;
      }

      &:first-child:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    span#{$block-name}__item {

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0a.857.857 0 0 0-.606.251L.251 5.394a.857.857 0 0 0 0 1.212l5.143 5.143a.857.857 0 0 0 1.212 0 .857.857 0 0 0 0-1.212L2.07 6l4.537-4.537a.857.857 0 0 0 0-1.212A.857.857 0 0 0 6 0Z' fill='%2331353f'/%3E%3C/svg%3E");
      }
    }
  }
}
