// В этом файле должны быть стили только для БЭМ-блока search, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.search {
  padding: 15px 15px 20px;
  color: #fff;
  background-color: #2D5AA4;
  background-image: url(../img/search-bg--small.jpg);
  background-position: center;
  background-size: cover;

  .tt-suggestion.tt-selectable {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    letter-spacing: 0.02em;
  }

  @media (min-width: $screen-md) {
    padding-bottom: 40px;
    background-position: left top;
    background-image: url(../img/search-bg.jpg);
  }

  @media (min-width: $screen-md) {
    padding-bottom: 200px;
  }

  &__title {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: 34px 0 50px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;

    @media (min-width: $screen-md) {
      font-size: 32px;
      line-height: 42px;
      padding: 64px 0 55px;
    }
  }

  &__form {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin: auto;
    padding: 10px 15px;
    background-color: rgba($gray-darkest, 0.25);
    border-radius: 3px;

    @media (min-width: $screen-md) {
      max-width: 800px;
    }
  }

  &__form-descr {
    width: 100%;
    color: #D1D9E2;
    font-size: $font-size + 2;
  }

  &__part {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px 10px;

    .field-actions {
      margin-top: 0;
    }

    .field-drop-checkboxes__pseudoselect {
      padding: 13px 22px 13px 14px;
    }

    @media (min-width: $screen-sm) {
      &--sm-75 {
        flex-basis: 75%;
        max-width: 75%;
      }
      &--sm-66 {
        flex-basis: 66.6666%;
        max-width: 66.6666%;
      }
      &--sm-50 {
        flex-basis: 50%;
        max-width: 50%;
      }
      &--sm-33 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
      }
      &--sm-25 {
        flex-basis: 25%;
        max-width: 25%;
      }
      &--sm-20 {
        flex-basis: 20%;
        max-width: 20%;
      }
      &--sm-to-right {
        margin-left: auto;
      }
      &--sm-to-left {
        margin-left: 0;
      }
    }

    @media (min-width: $screen-md) {
      &--md-75 {
        flex-basis: 75%;
        max-width: 75%;
      }
      &--md-66 {
        flex-basis: 66.6666%;
        max-width: 66.6666%;
      }
      &--md-50 {
        flex-basis: 50%;
        max-width: 50%;
      }
      &--md-33 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
      }
      &--md-25 {
        flex-basis: 25%;
        max-width: 25%;
      }
      &--md-20 {
        flex-basis: 20%;
        max-width: 20%;
      }
      &--md-to-right {
        margin-left: auto;
      }
      &--md-to-left {
        margin-left: 0;
      }
    }

    &--btn {

      .btn {
        width: 100%;

        @media (min-width: $screen-md) {
          padding: 13px;
        }
      }
    }
  }

  &__part-btn {

    .btn {
      width: 100%;
    }

    @media (min-width: $screen-sm) {
      padding-left: 50%;
    }

    @media (min-width: $screen-md) {
      order: 6;
      padding-left: 0;
      flex-basis: 21%;
      max-width: 21%;
    }
  }
}
