// В этом файле должны быть стили для БЭМ-блока property-owner-2, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.property-owner-2 {

  $block-name:                &; // #{$block-name}__element {}

  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    aspect-ratio: 980 / 280;
    background-color: #9CCFFE;
    background-image: url(../img/property-owner-2-bg.jpg);
    background-position: center;
    background-size: cover;

    @media (min-width: $screen-lg) {
      padding: 84px 40px 80px;
    }
  }

  &__title {
    margin: 4px 0 24px;
    font-size: $font-size--h3 + 2;
    line-height: 156%;
    font-weight: 600;

    @media (min-width: $screen-lg) {
      margin-bottom: 26px;
      font-size: $font-size--h1;
    }
  }
}
