// В этом файле должны быть стили для БЭМ-блока listed-homes, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.listed-homes {

  $block-name:                &; // #{$block-name}__element {}

  width: 100%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;

  .owl-loaded &__item {
    padding-left: 15px;

    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 16px;
    flex-grow: 1;
    font-size: $font-size--h3 + 2;
    line-height: 133%;
    font-weight: 500;

    @media (min-width: $screen-lg) {
      font-size: $font-size--h1;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 30px;
    }
  }

  &__tags {
    margin-bottom: 24px;

    @media (min-width: $screen-xl) {
      margin-bottom: 42px;
    }
  }

  &__list-wrapper {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: $screen-xl) {
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  &__list-inner {
    position: relative;

    @media (min-width: $screen-xl) {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }

  &__carousel-btns {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }

  &__carousel-btn-left {
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 0px;
  }

  &__carousel-btn-right {
    position: absolute;
    z-index: 100;
    top: 90px;
    right: 0px;
  }

  &__footer {
    margin-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    @media (min-width: $screen-xl) {
      margin-top: 20px;
    }
  }

  &__more-link {

    @media (max-width: ($screen-md - 1)) {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: $font-size--h3;
      font-weight: 600;
    }
  }
}
