// В этом файле должны быть стили только для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.card-4 {

  $block-name:               &;

  &__photo-wrap {
    display: block;
    margin-bottom: 16px;

    img {
      aspect-ratio: 345 / 204;
      object-fit: cover;

      @media (min-width: $screen-md) {
        aspect-ratio: 312 / 240;
      }
    }
  }

  &__title {
    margin: 0 0 16px;
    font-size: $font-size--h3 + 2;
    line-height: 156%;
    font-weight: 600;
  }

  &__title-link {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    color: $gray-darkest;
  }

  &__title-arrow {
    fill: $color-main;
  }

  &__info-list {
    margin: 0 0 12px;
    padding: 0;
    list-style: none;
  }

  &__info-list-item {
    position: relative;
    padding-top: 2px;
    padding-left: 32px;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__info-list-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__info-list-text {
    font-size: $font-size--h3;
    font-weight: 400;
    line-height: 125%;
  }

  &__info-list-num {
    font-size: $font-size--h3;
    font-weight: 400;
    line-height: 125%;
    color: $gray;
  }

  &__link {
    margin: 0;
    font-size: $font-size--h3;
    line-height: 150%;
    font-weight: 500;
  }

  &__link-homes {
    margin: 0;
    font-size: $font-size--h3;
    line-height: 150%;
    font-weight: 500;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }



  &--sm-short {
    width: 290px;

    @media (min-width: $screen-lg) {
      width: 360px;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
    }

    #{$block-name}__title {
      margin-bottom: 8px;

      @media (min-width: $screen-xl) {
        margin-bottom: 16px;
      }
    }

    #{$block-name}__info-list {
      display: none;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    #{$block-name}__link {
      display: none;

      @media (min-width: $screen-xl) {
        display: inline-block;
      }
    }

    #{$block-name}__title-arrow {
      display: none;

      @media (min-width: $screen-xl) {
        display: inline-block;
      }
    }
  }
}
