// В этом файле должны быть стили для БЭМ-блока new-submenu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new-submenu {

  $block-name:                &; // #{$block-name}__element {}

  @media (min-width: $screen-xl) {
    position: relative;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-shrink: 0;
    padding: 51px 20px;
    background-color: $white;
    box-shadow: inset 0 12px 10px -10px rgba(72, 72, 72, 0.1) !important;
  }

  &__list {
    margin: 12px 0 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-xl) {
      margin: 0;
      width: 290px;
      padding-right: 30px;
    }

    a {
      position: relative;
      display: block;
      padding: 13px 16px 13px 0;
      color: $text-color;

      &:hover {
        color: $color-main--accent;
      }

      @media (max-width: ($menu-desktop-width - 1)) {

        &:after {
          content: '';
          position: absolute;
          right: 2px;
          top: 50%;
          width: 7px;
          height: 7px;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__content-wrap {

    @media (min-width: $screen-xl) {
      // position: relative;
      margin: 0;
      width: 290px;
      // padding-right: 30px;
      overflow-y: auto;
    }
  }

  &__content {

    @media (max-width: ($menu-desktop-width - 1)) {
      position: fixed;
      top: 0;
      left: -$main-menu-mobile-width;
      z-index: 2;
      width: $main-menu-mobile-width;
      height: calc(100vh - #{$header-height});
      padding: 45px 20px 20px;
      overflow: hidden;
      background-color: #fff;
      transition: left $transition-time, box-shadow $transition-time;
    }

    @media (min-width: $screen-xl) {
      display: none;
    }

    a {
      color: $text-color;

      &:hover {
        color: $color-main--accent;
      }
    }

    &--xl-open {

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    &--open {

      @media (max-width: ($menu-desktop-width - 1)) {
        left: 0;
        overflow-y: auto;
        box-shadow: 0 2px 40px rgba(72, 72, 72, 0.35);
      }
    }
  }

  &__about {
    margin: 26px 0 14px;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__sublist {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      position: relative;
      display: block;
      padding: 14px 16px 14px 0;

      @media (max-width: ($menu-desktop-width - 1)) {

        &:after {
          content: '';
          position: absolute;
          right: 2px;
          top: 50%;
          width: 7px;
          height: 7px;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          transform: translateY(-50%) rotate(45deg);
        }

        &.new-submenu__active-link:after {
          transform: translateY(-50%) rotate(-135deg);
        }
      }
    }
  }

  &__subcontent {
    display: none;

    @media (min-width: $screen-xl) {
      position: absolute;
      z-index: -1;
      display: block !important;
      left: 550px;
      height: auto !important;
      overflow: hidden;
      opacity: 0;
      transition: left 0.2s, opacity 0.2s;
    }

    p {
      margin: 10px 0;
      color: $gray;
      text-transform: uppercase;
      font-size: $font-size--h4;
    }

    a {
      display: flex;
      align-items: baseline;
      color: $gray;

      &:hover {
        color: $color-main--accent;
      }

      &:after {
        display: none;
      }
    }

    &--xl-shown {

      @media (min-width: $screen-xl) {
        z-index: 1;
        top: 55px;
        left: 600px;
        bottom: 50px;
        width: 230px;
        opacity: 1;
        overflow-y: auto;
      }
    }
  }

  &__subcontent-list {
    margin: 0;
    padding: 0 0 0 36px;
    list-style: none;

    @media (min-width: $screen-xl) {
      padding-left: 0;
    }
  }

  &__subcontent-number {
    margin-left: auto;
    font-size: $font-size--h4;
    font-weight: 600;
    color: $color-main;
  }

  &__all-municipals {
    display: inline-block;
    margin-left: 36px;
    font-weight: 500;
    color: $color-main !important;

    @media (min-width: $screen-xl) {
      margin-left: 0;
    }

    &:hover,
    &:focus {
      color: $color-main--accent !important;
    }
  }

  &__active-link,
  &__xl-active-link {

    @media (min-width: $screen-xl) {
      display: flex !important;
      color: $color-main !important;

      &:after {
        content: '';
        display: inline-block;
        flex-shrink: 0;
        margin-right: 16px;
        width: 11px;
        height: 10px;
        margin-left: 8px;
        background-image: svg-load('../blocks/main-nav/background-img/arrow-left-link.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        transform: translateY(4px) rotate(180deg);
      }
    }
  }

  &__list-item-text {

    @media (min-width: $screen-xl) {}
  }



  &--min-h-700 {
    min-height: 700px;
  }
}
