// В этом файле должны быть стили для БЭМ-блока simple-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.simple-text {

  $block-name:                &; // #{$block-name}__element {}

  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-size: $font-size--h3;
  line-height: 1.5;

  &__title {
    margin: 0 0 16px;
    font-size: $font-size--h3 + 2;
    font-weight: 500;
    line-height: 1;

    @media (min-width: $screen-xl) {
      font-size: $font-size--h1;
      margin-bottom: 40px;
    }
  }

  &__inner {

    p {
      margin: 0;
      padding: 0 0 1.5em 0;
    }
  }

  &__hidden {
    display: none;

    p {
      margin: 0;
      padding: 0 0 1.5em 0;
    }
  }

  &__readmore-wrap {
    margin: 0;

    @media (min-width: $screen-xl) {
      margin-top: 1.45em;
    }
  }

  &__readmore {
    padding: 0;
    border: 0;
    background: transparent;
    font-family: $font-family;
    font-size: $font-size--h3;
    line-height: 1;
    color: $color-main;
    cursor: pointer;

    svg {
      margin-left: 0.3em;
      vertical-align: middle;
      fill: currentColor;
    }
  }
}
